select {
  -webkit-appearance: none;
  margin-top: 15px;
  color: #0f0f0f;
  border-color: #9fadb9;
  padding: 0em 0.4em;
  background: white;
}
select.sel-lang {
  min-height: 28px;
  font-size: 14px;
}